<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/myFragment :: myHeader"></head>
<body class="my-bg-primary">
	<div class="container-fluid"  th:insert="fragments/myFragment :: myNavigation"></div>
	
	<div class="container-fluid">
		<div class="card my-main-card">
 			<div class="card-header my-main-card-header">
 				<h2 layout:fragment="page-title">Page Title</h2>
 			</div>
 			<div class="body" layout:fragment="content">
	  			No content
 			</div>
 		</div>
	</div>
		
	<div class="container-fluid" th:insert="fragments/myFragment :: myFooter"></div>
	<th:block th:insert="fragments/myFragment :: default-js"></th:block>
</body>
</html>