<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout1">
<head>
<title></title>
<th:block layout:fragment="additional-css"></th:block>
</head>
<body>
	<h2 layout:fragment="page-title">Buat Menu Makanan dan Minuman Baru</h2>
	<div class="body" layout:fragment="content">
		<div class="my-form">
			<form method="post" th:action="@{${submitUrl}}" th:object="${menu}">
				<div class="form-group">
			    	<label for="namaMenu">Nama Menu</label>
				    <input th:field="*{menuName}" type="text" class="form-control" name="namaMenu" id="namaMenu" placeholder="Masukkan nama menu disini..">
			  	</div>
				<div class="form-group">
			    	<label for="hargaMenu">Harga Menu</label>
				    <input th:field="*{menuPrice}" type="number" class="form-control" name="hargaMenu" id="hargaMenu" placeholder="Masukkan harga menu disini..">
			  	</div>
			  	<div class="form-group">
			    	<label for="kategoriMenu">Kategori Menu</label>
			    	<select th:field="*{category}" class="form-control" id="kategoriMenu" name="kategoriMenu">
				    	<option th:each="kategori : ${dataKategori}" th:value="${kategori.categoryId}" th:text="${kategori.categoryName}">Kategori Menu</option>
				    </select>
			  	</div>
			  	<button type="submit" class="btn btn-primary">Simpan</button>
			</form>
		</div>
	</div>
	<th:block layout:fragment="additional-js">
		<script>
			console.log({test:"page menu baru"});
		</script>
	</th:block>
</body>
</html>