<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout1">
<head>
<title></title>
<th:block layout:fragment="additional-css"></th:block>
</head>
<body>
	<h2 layout:fragment="page-title">Welcome, <span sec:authentication="name">user login</span></h2>
	
	<div class="body" layout:fragment="content" style="text-align:center">
	<br>
		<strong>Disini anda dapat menikmati makanan sehat dan segar yang kami hidangkan dengan cinta :)</strong> <br>
		<img th:src="@{/images/canteen.jpg}" style="width:50%; height:auto; margin:20px 0px 40px 0px">
	</div>
	<th:block layout:fragment="additional-js">
		<script>
			console.log({test:"home page"});
		</script>
	</th:block>
</body>
</html>