<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout1">
<head>
<title></title>
<th:block layout:fragment="additional-css"></th:block>
</head>
<body>
	<h2 layout:fragment="page-title">Daftar User</h2>
	<div class="body" layout:fragment="content">
		<div class="row mt-3" th:if="${status != null}">
			<div class="col-sm-12">
				<div th:class="${status}=='success'? 'alert alert-success' : 'alert alert-danger'" >
					<strong th:text="${status}=='success'? 'Sukses!' : 'Gagal!'"></strong> <span th:text="${message}"></span>
				</div>
			</div>
		</div>
		<div class="row mt-2 mb-2">
			<div class="col-sm-12">
				<button type="button" class="btn btn-primary" onclick="homeScript.pindahHalaman('baru')">Buat User Baru</button>
			</div>
		</div>
		<table class="table" id="my-table">
			<thead>
				<tr>
					<th scope="col">No.</th>
					<th scope="col">Nama</th>
					<th scope="col">Roles</th>
					<th scope="col">Opsi</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user, iter : ${dataUser}">
					<td th:text="@{${iter.index}+1}" />
					<td th:text="${user.userName}" />
					<td>
						<th:block th:each="role, iterRole : ${user.roles}">
							<span th:text="${role.roleName} + (${iterRole.index} < (${#lists.size(user.roles)}-1) ? ', ' : '')" th:remove="tag"></span>
						</th:block>
					</td>
					<td>
						<a class="btn btn-xs" th:href="@{/admin/user/ubah/{id}(id=${user.userId})}">Edit</a>
						<a class="btn btn-xs" th:href="@{/admin/user/hapus/{id}(id=${user.userId})}">Hapus</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<th:block layout:fragment="additional-js">
		<script>
			console.log({test:"page user index"});
			$(document).ready(function(){
				$("#my-table").dataTable();
			});
		</script>
	</th:block>
</body>
</html>